*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
*.keystore
*.jks
keystore.properties
*.base64
*.log
*-i-wanna-create-a-*.txt
.claude/
